/* your styles go here */
/* code for side scrolling code chunks */
pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

/* code for autoscaling iframe */
.iframe-container {
  overflow: hidden;
  /* Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)*/
  padding-top: 90%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
