/* your styles go here */
/* code for side scrolling code chunks */
pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

/* code for autoscaling iframe */
.iframe-container {
  overflow: hidden;
  /* Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)*/
  padding-top: 90%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}


/* resizing of h tags for mobile */
@media (max-width: 767px){
  h1,
  .h1 {
    font-size: 34px;
  }
  h2,
  .h2 {
    font-size: 28px;
  }
  h3,
  .h3 {
    font-size: 24px;
    font-weight: 700;
  }
  h4,
  .h4 {
    font-size: 20px;
    font-weight: 700;
  }
  h5,
  .h5 {
    font-size: 16px;
    font-weight: 700;
  }
  h6,
  .h6 {
    font-size: 14px;
    font-weight: 700;
  }
}
