* {
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
  color: #424242;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

h1, h2, h3, h4 {
  text-align: left;
  font-weight: 100;
  padding: 20px 0 0px 0;
}

svg {
  margin: 1px;
}

.container {
  flex-wrap: nowrap | wrap | wrap-reverse;
  padding: 10px;
  display: flex;
}

span {
  font-size: 1.5em;
  font-weight: 1000;
  font-family: monospace;
  color: #394E48;
}

.input {
  background-color: #302f42;
  border-radius: 0;
  box-shadow: none;
  border: none;
  color: #f5f5f5 !important;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

/* buttons */
.btn, .btn:hover, .btn:active, .btn:visited {
    background-color: #302f42 !important;
    border-radius: 0;
    box-shadow: none;
    border: none;
    color: #f5f5f5 !important;
    font-weight: 300;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.btn:hover {
  background-color: #424159 !important;
}

.btn:active {
  background-color: #54536e !important;
}

.user_input {
  width: 14px;
  height: 16px;
  border-radius: 0;
  box-shadow: none;
  border: solid;
  border-color: white;
  border-width: 1px;
  margin: 0;
  padding: 0;
}

.vertical_tick_empty {
  height: 5px;
  width: 13.5px;
  margin: 0;
  padding: 0;
  left: 50%;
  float: left;
}

.vertical_tick {
  border-left: 1px solid gray;
}

.vertical_tick_start {
  height: 5px;
  width: 6px;
  margin: 0;
  padding: 0;
  left: 50%;
  float: left;
}

.vertical_tick_label {
  min-width: 13.5px;
  float: left;
  font-size: 0.6em;
  padding: 0px 0px 0.1px 0px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(30deg);
}

.container_twenty_questions_dropdown {
  max-width: 300px;
  width: 90%;
  border-radius: 0;
  box-shadow: none;
  border: solid;
  border-color: #c9c9c9;
  border-width: 1px;
  margin: 10 10 10 10;
  padding: 10 10 10 10;
}

/*removes dropdown arrow */
select {
   -o-appearance: none;
   -ms-appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.legend_item_text {
  font-size: 0.7em;
  fill: grey;
}

.tooltip {
  font-size: 0.8em;
  background-color: white;
  border: solid #e3e3e3;
  border-width: 2px;
  border-radius: 2px;
  padding: 10px;
  position: absolute;
}

.sequence_plot_title_text {
  font-size: 18px;
  fill: #424242;
  text-anchor: left;
}

.sequence_plot_subtitle_text {
  font-size: 14px;
  fill: #4d4d4d;
  text-anchor: left;
}

.xaxis_label {
  font-size: 14px;
  fill: #4d4d4d;
  text-anchor: middle;
}

.user_input {
  transition: background-color 500ms, color 500ms;
}

#plot_histograms {

}

#container_Q3 {
  display: none;
}

#container_Q4 {
  display: none;
}

.corner_ribbon{
  width: 200px;
  background: #b0453e;
  position: fixed;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
