svg {
  margin: 1px;
}

.container {
  flex-wrap: nowrap | wrap | wrap-reverse;
  padding: 10px;
  display: flex;
}

span {
  font-size: 1.5em;
  font-weight: 1000;
  font-family: monospace;
  color: #394E48;
}

.input {
  background-color: #302f42;
  border-radius: 0;
  box-shadow: none;
  border: none;
  color: #f5f5f5 !important;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

/* buttons */
#button_update, #button_update:hover, #button_update:active, #button_update:visited {
    background-color: #2f3f42 !important;
    border-radius: 0;
    box-shadow: none;
    border: none;
    color: #f5f5f5 !important;
    font-weight: 300;
    max-width: 45%;
    min-width: 200px;
    word-wrap: break-word;
    white-space: normal;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

#button_update:hover {
  background-color: #415359 !important;
}

#button_update:active {
  background-color: #53666e !important;
}

.example_div {
  width: 3%;
  max-width: 14px;
  height: 30px;
  float: left;
}

.user_input_div {
  width: 2%;
  max-width: 14px;
  height: 30px;
  float: left;
}

.user_input {
  max-width: 95%;
  height: 16px;
  border-radius: 0;
  box-shadow: none;
  border: solid;
  border-color: white;
  border-width: 1px;
  margin: 0;
  padding: 0 0 0 0;
  transition: background-color 750ms, color 750ms;
}

/* this is the tick */
.user_input_div > svg > line {
  padding: 0;
  margin: 0;
  stroke: grey;
}

/* this is the text */
.user_input_div > svg > text {
  font-size: 0.5em;
  fill: #424242;
  stroke: none;
}

.container_twenty_questions_dropdown {
  max-width: 300px;
  width: 90%;
  border-radius: 0;
  box-shadow: none;
  border: solid;
  border-color: #c9c9c9;
  border-width: 1px;
  margin: 10 10 10 10;
  padding: 10 10 10 10;
}

/*removes dropdown arrow */
select {
   -o-appearance: none;
   -ms-appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#legend {
  max-width: 95%;
}

.legend_item_text {
  font-size: 0.7em;
  fill: grey;
}

.tooltip {
  font-size: 0.8em;
  background-color: white;
  border: solid #e3e3e3;
  border-width: 2px;
  border-radius: 2px;
  padding: 10px;
  position: absolute;
}

#plot_sequence {
  max-width: 95%
}

.sequence_plot_title_text, .plot_title_bar_plot{
  font-size: 1.1em;
  fill: #424242;
  text-anchor: left;
}

.sequence_plot_subtitle_text {
  font-size: 0.8em;
  fill: #4d4d4d;
  text-anchor: left;
}

.xaxis_label {
  font-size: 0.8em;
  fill: #4d4d4d;
  text-anchor: middle;
}

.bottomAxisSequence, .bottomAxisHist, .bottomAxisBar {
  font-size: 0.5em;
  color: #4d4d4d;
}

.bottomAxisBar {
  font-size: 0.6em;
}

/* 20Q containers */
#container_Q3 {
  display: none;
}

#container_Q4 {
  display: none;
}

.corner_ribbon{
  width: 200px;
  background: #b0453e;
  position: fixed;
  top: 25px;
  right: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: #f0f0f0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
